textarea:focus, input:focus {
    outline: 10;
}
textarea {
    width: 70%;
    margin-bottom: 3%;
    border: 2px solid darkgray;
    padding: 5px;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

textarea:focus{
    background-color: rgba(146, 146, 134, 0.26);
}